/*  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    background-color: transparent;
}

.nav-center {
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    border: transparent;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    padding: .2rem .4rem;
    border-radius: 25%;
    cursor: pointer;
    transition: all .3s ease;
}

.toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    display: none;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.sign-on {
    display: none;
}

.back-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    font-size: 2rem;
    background-color: black;
}

.back-home a {
    display: inline-block;
    color: white;
    padding: 5rem;
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (min-width:800px) {
    .toggle-btn {
        display: none;
    }

    .sign-on {
        display: inline-block;
        padding: .2rem .8rem;
        background-color: black;
        color: white;
        text-transform: capitalize;
        border: transparent;
        border-radius: .6rem;
        font-size: 1rem;
        transition: all .3s ease;
        cursor: pointer;
    }

    .sign-on:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-link {
        justify-self: center;
        padding: 1rem 2rem;
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
}