/*  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    position: relative;
}

/* nav */

.nav {
    background-color: transparent;
}

.nav-center {
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    border: transparent;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    padding: .2rem .4rem;
    border-radius: 25%;
    cursor: pointer;
    transition: all .3s ease;
}

.toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: none;
}

.sign-on {
    display: none;
}

.back-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: transparent;
    border-radius: 2rem;
    font-size: 2rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    ;
}

.back-home a {
    display: inline-block;
    color: white;
    padding: 5rem;
    text-decoration: none;
    text-transform: capitalize;
}

/* hero */

.phone {
    display: none;
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    z-index: -1;
    transition: all .5s ease;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero {
    width: 80vw;
    max-width: 1170px;
    margin: 5rem auto;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
}

p {
    width: 60%;
    color: rgb(240, 239, 239);
}

.btn2 {
    border: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: black;
    color: white;
    padding: .4rem .6rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: -1rem;
}

.btn2:hover {
    background-color: rgba(0, 0, 0, 0.459);
}

/* sidebar */

.sidebar {
    display: none;
}

.sidebar::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.sidebar-content {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin: 2rem;
    height: 90vh;
    width: 90vw;
    border-radius: 1rem;
    padding: 1.5rem;
}

.sidebar-info {
    margin-top: 2rem;
}

.close-btn {
    font-size: 2rem;
    position: absolute;
    top: 2%;
    right: 4%;
    cursor: pointer;
}

.show-sidebar {
    display: block;
}


@media screen and (min-width:800px) {
    /* nav */

    .toggle-btn {
        display: none;
    }

    .sign-on {
        display: inline-block;
        padding: .4rem .8rem;
        background-color: black;
        color: white;
        text-transform: capitalize;
        border: transparent;
        border-radius: .6rem;
        font-size: 1rem;
        transition: all .3s ease;
        cursor: pointer;
    }

    .sign-on:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 600px;
        justify-self: center;
        position: relative;
    }

    .nav-submenu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        background-color: white;
        clip-path: polygon(50% 0, 57% 7%, 100% 6%, 100% 100%, 0 100%, 0 6%, 44% 6%);
        display: none;
    }

    .show-submenu {
        display: block;
    }

    .nav-link {
        justify-self: center;
        padding: 1rem 2rem;
        text-transform: capitalize;
        background: transparent;
        border: transparent;
        color: white;
        font-size: 1.2rem;
        width: 100%;
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }

    /* hero */
    .hero::before {
        height: 30%;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    }

    p {
        width: 60%;
        color: #617d98;
        max-width: 450px;
    }

    .phone {
        display: inline-block;
        height: 25rem;
    }

    .hero-center {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .hero-info {
        align-self: center;
    }

    /* sidebar */
    .sidebar {
        display: none;
    }
}

@media screen and (min-width:900px) {
    /* hero */

    .phone {
        height: 30rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    .hero::before {
        height: 40%;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    }
}